/app/config/build.settings
/app/config/config-app.php
/app/config/config-postgres.php
/app/config/config-redis.php
bin
*.sass-cache*
composer.phar
doctrine-migrations.phar
phing.phar
phpunit.phar
vendor
*.swp
.DS_Store
.vagrant
nohup.out
