<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Expert PHP Deployments Sample Application</title>

    <link rel="stylesheet" href="/assets/css/expertphpdeployments.css">
</head>
<body>

    <div id="wrapper">
        <h1>Welcome to the <em>Expert PHP Deployments</em> Sample Application</h1>

        <p>
            There have been <strong>{{ totalVisitors }}</strong> visitors here before you.
        </p>
        <p>
            Your <code>$_SERVER</code> details have been saved to Postgres in a table named <code>visitor_detail</code>.
        </p>

        <p class="no-margin" align="center">
            <a href="http://brightmarch.com/expert-php-deployments/">
                Purchase the <em><strong>Expert PHP Deployments</strong></em> Book
            </a>
        </p>
    </div>

</body>
</html>
