<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Expert PHP Deployments Sample Application</title>

    <link rel="stylesheet" href="/assets/css/expertphpdeployments.css">

    <script type="text/javascript" src="//use.typekit.net/oxd8fir.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

    <header>
        <section>
            <div class="column">
                <h1><a href="/"><em>Expert PHP Deployments</em></a></h1>
                <h2>Sample Application</h2>
            </div>
            <br class="clear">
        </section>
    </header>

    <main>
        <article>
            <h2>Application Details</h2>
            <p class="meta">{{ buildDate }}</p>

            <p>stuff about this app.</p>
        </article>
    </main>

</body>
</html>
