<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Expert PHP Deployments Sample Application</title>

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/expertphpdeployments.css">

    <script type="text/javascript" src="//use.typekit.net/lmx8iqp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

    <header>
        <section>
            <div class="column">
                <h1><a href="/"><em>Expert PHP Deployments</em></a></h1>
                <h2>Sample Application</h2>
            </div>
            <br class="clear">
        </section>
    </header>

    <main>
        <article>
            <h2>Application Details</h2>
            <p class="meta">Build Date: {{ buildDate }}</p>

            <p>
                You are viewing the sample app that is bundled with the <em>Expert PHP Deployments</em> book. This application is a mix of raw PHP, Symfony, and Doctrine components. It is kept intentionally simple for instructional purposes. It is deployed using Capistrano and Phing.
            </p>

            <h3>Application Layout</h3>


            <h3>More Information</h3>
            <p>
                You can find out more about this webpage and how to become an expert at PHP application deployment with the book <a href="https://leftnode.com/expert-php-deployment/"><em>Expert PHP Deployment</em></a>.
            </p>

            <p align="center">
                <small>&copy; {{ 'now'|date('Y') }} Vic Cherubini and Bright March, LLC.</small>
            </p>
        </article>
    </main>

</body>
</html>
